server/.flows_desktop.json.backup
[{"id":"50c8dcb7.f1b784","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc2ac3c9.6af55","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"d7663aaf.47194","type":"arduino-board","device":""},{"id":"30e7eaf0.082d36","type":"http in","z":"50c8dcb7.f1b784","name":"","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":250,"y":320,"wires":[["fea25b4f.7fa3e"]]},{"id":"73ab1b6e.15770c","type":"http response","z":"50c8dcb7.f1b784","name":"","statusCode":"","headers":{},"x":910,"y":300,"wires":[]},{"id":"fd3b28c3.bff2e8","type":"template","z":"50c8dcb7.f1b784","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    light: \"on\"\n}","output":"str","x":640,"y":280,"wires":[["73ab1b6e.15770c"]]},{"id":"fea25b4f.7fa3e","type":"switch","z":"50c8dcb7.f1b784","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":320,"wires":[["fd3b28c3.bff2e8","f5b4857a.99101"],["d8cbcc3.269b7b","de398046.e550f"]]},{"id":"d8cbcc3.269b7b","type":"template","z":"50c8dcb7.f1b784","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    light: \"off\"\n}","output":"str","x":650,"y":360,"wires":[["73ab1b6e.15770c"]]},{"id":"de398046.e550f","type":"arduino out","z":"50c8dcb7.f1b784","name":"","pin":"8","state":"OUTPUT","arduino":"bc2ac3c9.6af55","x":630,"y":420,"wires":[]},{"id":"f5b4857a.99101","type":"arduino out","z":"50c8dcb7.f1b784","name":"","pin":"8","state":"OUTPUT","arduino":"bc2ac3c9.6af55","x":630,"y":220,"wires":[]},{"id":"dae8234f.2517e","type":"inject","z":"50c8dcb7.f1b784","name":"0.5s tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":660,"y":640,"wires":[["56a6f8f2.a95908"]]},{"id":"2db61802.d249e8","type":"arduino out","z":"50c8dcb7.f1b784","name":"","pin":"8","state":"OUTPUT","arduino":"d7663aaf.47194","x":1080.5,"y":640,"wires":[]},{"id":"56a6f8f2.a95908","type":"function","z":"50c8dcb7.f1b784","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":640,"wires":[["2db61802.d249e8"]]}]